/*This is for the chess board bg */

.hidden{
	visibility: hidden;
}

#chessDesk {
	clear: both;
	width: auto;
	height: auto;
	margin-top: 32px;
	margin-bottom: 32px;
}

#chessboardsBox {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	top: 0;
	clear: both;
	overflow: visible;
	background-color: #87a1c0;
	border: 1px #76808C solid;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width:512px;
	height:512px;
	/*
	-moz-box-shadow:
		0 0 20px black,
		20px 15px 30px yellow,
		-20px 15px 30px lime,
		-20px -15px 30px blue,
		20px -15px 30px red;
	-webkit-box-shadow:
		0 0 20px black,
		20px 15px 30px yellow,
		-20px 15px 30px lime,
		-20px -15px 30px blue,
		20px -15px 30px red;
	box-shadow:
		0 0 20px black,
		20px 15px 30px yellow,
		-20px 15px 30px lime,
		-20px -15px 30px blue,
		20px -15px 30px red;
	*/
}
#chessSizeHandle {
	background-color: transparent;
	color: #333333;
	font-size: 24px;
	line-height: 24px;
	width: auto;
	height: auto;
	position: absolute;
	right: -12px;
	bottom: -12px;
	float: right;
	margin-top: auto;
	cursor: se-resize;
}

#chess3DBox {
	/**
	* width: [DYNAMIC VALUE];
	* height: [DYNAMIC VALUE];
	*/
	float: left;
}

#chess2DBox {
	/**
	* width: [DYNAMIC VALUE];
	* height: [DYNAMIC VALUE];
	*/
	float: right;
	height:512px;
	width:512px;
}
#chessCtrlPanel, #chessCtrlPanel select, #chessCtrlPanel input[type=text] {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#chessCtrlPanel {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 140px;
	height: auto;
	overflow: hidden;
	background-color: #404d4f;
	color: #ffffff;
	font-size: 12px;
	font-family: Tahoma, Arial, Verdana, Helvetica;
	-moz-box-shadow: 3px 3px red, -8px -2px 8px #2d3637;
	-webkit-box-shadow: 3px 3px red, -8px -2px 8px #2d3637;
        box-shadow: 3px 3px red, -8px -2px 8px #2d3637;
}

#chessCtrlPanel form {
	clear: both;
}

#chessClosePanel {
	width: auto;
	height: auto;
	margin: 0 12px 1px auto;
	float: right;
}

#chessCtrlPanel p {
	margin-top: 6px;
	text-align: center;
}

#chessInfo span.intLink {
	color: #ffffff;
	text-decoration: underline;
}

span.infoKey, span.infoVal {
	color: #ffffff;
	cursor: pointer;
}

span.infoKey {
	font-weight: bold;
}

#chessMoves {
	width: 92%;
	height: 120px;
	padding: 4px;
	font-family: Courier New, Courier;
	font-size: 12px;
}

#chessMoves, #chessAlgebraic {
	border: 1px solid #778284;
	background-color: transparent;
	color: #ffffff;
	-moz-box-shadow: inset 2px 2px 5px black, 2px 2px 5px black;
	-webkit-box-shadow: inset 2px 2px 5px black, 2px 2px 5px black;
	box-shadow: inset 2px 2px 5px black, 2px 2px 5px black;
}

#chessAlgebraic {
	width: 90%;
	margin-top: 3px;
	font-size: 11px;
}

#chessInfo p {
	text-align: center;
	margin: 6px 4px 6px 4px;
}

#chessCurtain {
	display:table;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: #000000;
	opacity: 0.5;
	filter: alpha(opacity=50);
	z-index: 10000002;
}

#chessLoading {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	border: 1px #000000 solid;
	color: #ffff00;
}





/*.Chess-board-box{
	margin-left:auto;
	margin-right:auto;
	position:relative;
	clear:both;
	background-color:#87a1c0;
	border: 1px #76808C solid;
	border-radius: 5px;
}

.Board-box{
	width:512px;
	height:512px;
	background-color: red;
}

.white-box{
    width: 25%;
    padding-bottom: 25%;
    background-color: #fff; 
    float: left;
    margin: 5%
}
.Board{
    height:0;
    width: 25%;
    padding-bottom: 25%;
    background-color: #eee; 
    float: left;
    margin: 5% 5% 5% 0;
    overflow:hidden;
}
.black-space{
    width: 25%;
    padding-bottom: 25%;
    background-color: #888; 
    float: left;
    margin: 5%;"
}
.white-space{
    width: 25%;
    padding-bottom: 25%;
    background-color: #fff;
    float: left;
    margin: 5%;"
}
.check{
    display: none;
    width: 150px;
    height: 150px;
    float: both;
}

